# Ignore build artifacts
build/
dist/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore environment files
.env

# Ignore Python cache
__pycache__/
*.pyc

# Ignore node dependencies
node_modules/

# Ignore logs
*.log
